<% if current_user %>
  <div class="container-fluid">
    <div class="row">
          <h1 class="text-center", style="padding: 1rem; text-align:center">My Cart</h1>
    </div>
    <div class="row d-flex justify-content-around">
      
      <% if @cart_items.any? %>
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Delete</th>
            </tr>
            <% @cart_items.each do |line_item| %>
            <tr>
                <% if line_item.product.image.attached? %>
                  <td><%= image_tag line_item.product.image.variant(:small)%></td>
                <% else %>
                  <td><%= image_tag '2.jpg', height: 100  %></td>
                <% end %>
              <td> <%= line_item.product.name %> </td>

              <td>

                  <div class="d-md-flex">
                    <%= button_to line_item_path(:id => line_item), params: { act: 'decrease' }, 
                      method: :put, class: 'btn btn-outline-danger btn-sm', style: 'padding-left:11px; padding-right:11px;',
                      data: { turbo: false }  do %>
                      <span><b>-</b></span>
                    <% end %>
                    <p><%= line_item.quantity %></p>
                    <%= button_to line_item_path(:id => line_item), params: { act: 'increase' }, 
                      method: :put , class: 'btn btn-outline-success btn-sm', style: 'padding-left:9px; padding-right:9px;',
                      data: { turbo: false }  do %>
                      <span><b>+</b></span>
                    <% end %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                    </svg>
                  </div>
                

              </td>
              <td><%= number_to_currency line_item.price * line_item.quantity %></td>
              <td>
                <!-- Remove -->
                <%=button_to line_item_path(:id => line_item), method: :delete, class: "btn btn-outline-danger btn-sm" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                  </svg>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td><b>Total quantity: <%= current_cart.total_quantity %></b></td>
            <td><b>Total price: <%= number_to_currency current_cart.total_price %></b></td>
          </tr>
        </table>

        <%= button_to 'Create order', orders_path, class: "btn btn-warning text-end" %>

      <% else %>
        <p>Your cart is empty</p>
      <% end %>

    </div> 
  </div>

<% else %>
  <h3>Please SignIn or SignUp!</h3>
<% end %>

