      <div class="card" style="width: 10rem; padding: 1rem">
        <% if product.image.attached? %>
          <%= image_tag product.image.variant(:norm)%>
        <% else %>
          <%= image_tag "2.jpg", height: 100 %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%=link_to product.name, product%></h5>
          <p class="card-text">Price: <%=number_to_currency(product.price)%></p>
        </div>
        <div>
            <%= turbo_frame_tag "product_#{product.id}" do %>
              <%= button_to 'Buy', line_items_path(product_id: product.id), class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    

  
   