<div class="container-fluid">
  <div class="row">
        <h1 class="text-center"><%=@product.name%></h1>
  </div>
  <div class="row">
    <table style="width:100%">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>Image</td>
    <td>Category</td>
  </tr>
  <tr>
    <td><%=@product.name%></td>
    <td><%=@product.description%></td>
    <td><%=number_to_currency(@product.price)%></td>
    <td>
      <% if @product.image.attached? %>
        <%= image_tag @product.image.variant(:norm)%>
      <% else %>
        <%= image_tag "2.jpg", height: 100 %>
      <% end %>
    </td>
    <td><%=@product.category.title%></td>
  </tr>
</table>
  </div> 
</div>

